.main__section {
}
.acquaintance {
    padding: 20px;
    padding-bottom: 80px;
}


.acquaintance__item {
 display: flex;

 justify-content: center;
 align-items: start;
 background-color: white;
 border: 1px solid white;
 border-radius: 15px;
}

.acquaintance__item img {
    border: 2px solid white;
    border-radius: 15%;
    margin-right: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
}
.acquaintance__text {
    display: block;
    padding: 20px 20px;
    letter-spacing: 0.5px;
    text-align: justify;
   text-decoration: none;
   font-family: "Roboto";
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color:rgb(149, 143, 143);
   margin-bottom: 10px;
}