
.feature__content {
    display: flex;
    flex-direction: column-reverse ;
    justify-content:center;
 
}


.title {
    display: block;
     padding: 40px 0px;
     letter-spacing: 3px;
     text-align: center;
    text-decoration: none;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    color:rgb(149, 143, 143);
    margin-bottom: 20px;
}

.greeting__text {
    display: block;
    padding: 40px 0px;
    letter-spacing: 3px;
    text-align: center;
   text-decoration: none;
   font-family: "Roboto";
   font-style: italic;
   font-weight: 400;
   font-size: 30px;
   line-height: 120%;
   color:rgb(149, 143, 143);
   margin-bottom: 10px;
}

@media screen and (max-width: 705px) {
    .title {
       font-size: 25px; 
       margin: 0;
       padding: 20px 0px;
    }
    .greeting__text {
     font-size: 18px;
    }  
}
.list {
display:grid ;
grid-template-columns: 1fr 1fr 1fr;
}



.item-list {
   
    max-width: 500px;
    padding: 20px;
    
    min-width: 25%;
    text-align:center;
}




.item-text {
    display:block ;
    text-align: center;
    padding: 20px 0px;
   text-decoration: none;
   font-family: "Roboto";
   font-style:normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 120%;
   color:rgb(162, 153, 179);
   overflow: hidden;

}

.item-subtitle  {
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 1px;
    color:rgb(162, 153, 179);
   text-align: center;
}

@media screen and (max-width: 705px) {
    .title {
       font-size: 25px; 
       margin: 0;
       padding: 20px 0px;
    }
    .greeting__text {
     font-size: 18px;
    } 
    
    .feature__list {
        display:grid ;
grid-template-columns: 1fr 1fr;
    }
    .item-feature__subtitle {
        font-size: 15px;
    }

  

}


@media screen and (max-width: 430px) {
    .item-feature__text {
        display: none;
       
    }
    .feature__list {
        display:grid ;
        grid-template-columns: 1fr;
    }
    .item-feedback__text {
        overflow: scroll;
    }

}








.feature__images {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.feature__image {
max-width: 100%;
min-height: 100%;
border-radius: 5px;

}

