.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo{
    
    opacity: 0.7;
    border-radius: 10%;
  }



  .header__navigation {
    display: none;
  }

  
.header__content {
    display: flex;
   align-items: center;

  }

  @media screen and (min-width: 1120px) {
   
    .header__burger {
      display: none;
    }
  
    .header__navigation {
      display: block;
      margin-left: 50px;
    }
  
    .header__links {
      display: flex;
      list-style: none;
    }
  
    .header__link:not(:last-of-type) {
      margin-right: 80px;
    }
    .header__link:last-of-type {
      margin-left: 20px;
      padding: 2px 10px;
      border: 2px solid rgb(226, 213, 238);
      border-radius: 15px;
      background-color: rgb(226, 213, 238);
    }

    .header__link a {
      text-decoration: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color:rgb(105, 102, 102);
    }
  }