* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    background-color: transparent;
    border: none;
  }
  
  ul{
    text-decoration: none;
    list-style-type: none;
  }

  ::-webkit-scrollbar {
    width: 0;
  }