.services {
 padding-bottom: 80px; 
}


.questions {
    padding-bottom: 50px;
}

.item-list__top {
    display: flex;
    justify-content: start;
   flex-wrap: wrap;
}

.item-list__top img {
    border: 5px solid white;
    border-radius: 15px;
    margin-right: 10px;
  max-width: 100%;
}

.piling {
    display: none;
}

.piling-mobile {
    padding: 0px;
  margin: 0 auto;}

@media screen and (min-width: 540px) {
  .piling-mobile {
    display: none;}
    .piling {
        display: block;
    }
  }

    

.question-text {
    text-align: justify;
  
}

.micro-text {
    font-size: 12px;
}
.price-text {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 250%;
   
}

